.time-container {
  float: left;
  margin: 0 0 5px 5px;
  background-color: rgba(0,0,0,0.04);
}

.time-label {
  margin-bottom: 0;
  text-align: center;
}

.time-form-field {
  float: left;
  width: 6ch;
  text-align: center;
}

.time-divider {
  float: left;
  width: 1ch;
  margin: 20px 5px;
  text-align: center;
}
