<div class="time-container">
  <h4 class="time-label">{{distinctName}}</h4>
  <mat-form-field class="time-form-field" appearance="outline">
    <input matInput maxLength="2" placeholder="HH" maxlength="2" [formControl]="hourControl">
  </mat-form-field>
  <p class="time-divider">:</p>
  <mat-form-field class="time-form-field" appearance="outline">
    <input matInput maxlength="2" placeholder="MM" [formControl]="minuteControl">
  </mat-form-field>
</div>
