<div style="width: 50%">
  <h1>Event Form</h1>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field hintLabel="Max 32 characters" appearance="fill">
        <mat-label>Event name</mat-label>
        <input matInput #input maxlength="32" [formControl]="eventForm.controls.name">
        <mat-hint align="end">{{input.value.length || 0}}/32</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="eventForm.controls.description"></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width: 50%; float: left;" appearance="fill">
        <mat-label>Enter a date range *</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate placeholder="Start date" [formControl]="eventForm.controls.startDate">
          <input matEndDate placeholder="End date" [formControl]="eventForm.controls.endDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <app-time [hourControl]="eventForm.controls.startHours" [minuteControl]="eventForm.controls.startMinutes" distinctName="Start Time"></app-time>

      <app-time [hourControl]="eventForm.controls.endHours" [minuteControl]="eventForm.controls.endMinutes" distinctName="End Time"></app-time>

    </div>

    <div>
      <mat-form-field style="width: 60%" hintLabel="We'll try to find your timezone" appearance="fill">
        <mat-label>City</mat-label>
        <input matInput [formControl]="eventForm.controls.city" (input)="onCityChange()" [matAutocomplete]="cityAuto">
        <mat-autocomplete #cityAuto="matAutocomplete" (optionSelected)="onCityChange()">
          <mat-option *ngFor="let option of cityFilteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end">{{cityFound.name != '' ? '"' + cityFound.name + '"' + ' found is that correct?' : ''}}</mat-hint>
        <button class="timezone-button" type="button" matSuffix mat-raised-button (click)="applyTimezone()" [disabled]="cityFound.timezone == ''">Apply Timezone</button>
      </mat-form-field>

      <mat-form-field style="width: 40%" hintLabel="Continent/City" appearance="fill">
        <mat-label>Timezone</mat-label>
        <input matInput [formControl]="eventForm.controls.timezone" [matAutocomplete]="timezoneAuto">
        <mat-autocomplete #timezoneAuto="matAutocomplete">
          <mat-option *ngFor="let timezone of timezoneFilteredOptions | async" [value]="timezone">
            {{timezone}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <button class="submit-button" type="submit" [disabled]="!eventForm.valid" mat-raised-button color="primary">Create Event</button>
    </div>
  </form>
</div>
